
body{
    background-color: #2b2e57;
}

h1{
    color: #ffff;
    text-align: center;
    text-shadow: 3px 2px 5px black;
    font-size: 3rem;
}


.container{
    width: 80%;
    margin: 30px auto;
    /* border: 2px solid red; */
    padding: 20px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 150px 150px 150px;
    gap: 20px;


}

.children{
    font-size: 3rem;
    text-align: center;
    color: white;
    border-radius: 3px;
}

#box-1{
    /* grid-column: 1/3; */
    grid-row: 1/4;
    background-color: #3e8f20;
}

#box-2{
    grid-column: 2/4;
    background-color: #3e8f20;
}

#box-6{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: #3e8f20;
}

/* #box-4,#box-5,
#box-7,#box-8{
    grid-template-rows: 180px;
} */

#box-3,#box-5,#box-7{
    background-color: #ed3437;
}

#box-4,#box-8{
    background-color: #fab32f;
}




@media (max-width : 900px) {

   

    /* .children{
        background-color: green;
        border: 2px solid black;
    } */

    #box-1{
        grid-row: 1/3;
        /* grid-row: auto; */
        background-color: fab32f;
    }
    
    #box-2{
        grid-column: auto;
        background-color: fab32f;
    }
    
    #box-6{
        grid-row: auto;
        grid-column: auto;
        background-color: fab32f;
    }

    #box-3,#box-5,#box-7{
        background-color: #ed3437;
    }
    
    #box-4,#box-8{
        background-color: #fab32f;
    }

    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,150px );
    }
    
}

@media (max-width : 600px) {

   

    /* .children{
        background-color: green;
        border: 2px solid black;
    } */

    #box-1{
        /* grid-column: 1/3; */
        grid-row: auto;
        background-color: #fab32f;
    }
    
    #box-2{
        grid-column: auto;
        background-color: #fab32f;
    }
    
    #box-6{
        grid-row: auto;
        grid-column: auto;
        background-color: #fab32f;
    }

    #box-3,#box-5,#box-7{
        background-color: #ed3437;
    }
    
    #box-4,#box-8{
        background-color: #fab32f;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,150px );
    }
    
}